@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "DMSans";
    src: url("./fonts/DMSans-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "DMSans";
    src: url("./fonts/DMSans-Bold.ttf");
    font-weight: 700;
}
@layer base {
    :root {
        --radius: 0.5rem;
    }
}
